<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>FilterRegister</filter-name>
        <filter-class>filter.FilterRegister</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRegister</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterManager</filter-name>
        <filter-class>filter.FilterManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterManager</filter-name>
        <url-pattern>/manage/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Do_user_add</servlet-name>
        <servlet-class>mall_user_manage_servlet.Do_user_add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Do_user_add</servlet-name>
        <url-pattern>/manage/do_user_add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Do_user_select</servlet-name>
        <servlet-class>mall_user_manage_servlet.Do_user_select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_user_update</servlet-name>
        <servlet-class>mall_user_manage_servlet.Do_user_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>to_user_update</servlet-name>
        <servlet-class>mall_user_manage_servlet.to_user_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_user_delete</servlet-name>
        <servlet-class>mall_user_manage_servlet.Do_user_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodeServlet</servlet-name>
        <servlet-class>mall_user_servlet.CodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserIDCheck</servlet-name>
        <servlet-class>mall_user_servlet.UserIDCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCode</servlet-name>
        <servlet-class>mall_user_servlet.CheckCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>mall_user_servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mall_user_servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>mall_user_servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_Log</servlet-name>
        <servlet-class>mall_user_manage_servlet.admin_Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllCate</servlet-name>
        <servlet-class>mall_category_servlet.SelectAllCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>To_AddCate</servlet-name>
        <servlet-class>mall_category_servlet.To_AddCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_AddCate</servlet-name>
        <servlet-class>mall_category_servlet.Do_AddCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>To_UpdateCate</servlet-name>
        <servlet-class>mall_category_servlet.To_UpdateCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_UpdateCate</servlet-name>
        <servlet-class>mall_category_servlet.Do_UpdateCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_DeleteCate</servlet-name>
        <servlet-class>mall_category_servlet.Do_DeleteCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexSelect</servlet-name>
        <servlet-class>mall_front_servlet.IndexSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectProductList</servlet-name>
        <servlet-class>mall_front_servlet.SelectProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSelect</servlet-name>
        <servlet-class>mall_product_servlet.ProductSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>To_ProductAdd</servlet-name>
        <servlet-class>mall_product_servlet.To_ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_ProductAdd</servlet-name>
        <servlet-class>mall_product_servlet.Do_ProductAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_DeleteProduct</servlet-name>
        <servlet-class>mall_product_servlet.Do_DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>To_ProductUpdate</servlet-name>
        <servlet-class>mall_product_servlet.To_ProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Do_ProductUpdate</servlet-name>
        <servlet-class>mall_product_servlet.Do_ProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectProductView</servlet-name>
        <servlet-class>mall_front_servlet.SelectProductView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>mall_cart_servlet.CartAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartSelect</servlet-name>
        <servlet-class>mall_cart_servlet.CartSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateQuantity</servlet-name>
        <servlet-class>mall_cart_servlet.CartUpdateQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>mall_cart_servlet.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSelect</servlet-name>
        <servlet-class>mall_front_servlet.OrderSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderSelect</servlet-name>
        <url-pattern>/orderselect</url-pattern>
    </servlet-mapping>
    M<servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/deletecart</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateQuantity</servlet-name>
        <url-pattern>/cartupdatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartSelect</servlet-name>
        <url-pattern>/cartselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/cartadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectProductView</servlet-name>
        <url-pattern>/selectproductview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_ProductUpdate</servlet-name>
        <url-pattern>/manage/do_productupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>To_ProductUpdate</servlet-name>
        <url-pattern>/manage/to_productupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_DeleteProduct</servlet-name>
        <url-pattern>/manage/do_deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_ProductAdd</servlet-name>
        <url-pattern>/manage/do_productadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>To_ProductAdd</servlet-name>
        <url-pattern>/manage/to_productadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSelect</servlet-name>
        <url-pattern>/manage/productselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectProductList</servlet-name>
        <url-pattern>/selectproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexSelect</servlet-name>
        <url-pattern>/indexselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_DeleteCate</servlet-name>
        <url-pattern>/manage/do_deletecate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_UpdateCate</servlet-name>
        <url-pattern>/manage/do_updatecate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>To_UpdateCate</servlet-name>
        <url-pattern>/manage/to_updatecate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_AddCate</servlet-name>
        <url-pattern>/manage/do_addcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>To_AddCate</servlet-name>
        <url-pattern>/manage/admin_to_addcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllCate</servlet-name>
        <url-pattern>/manage/selectallcate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_Log</servlet-name>
        <url-pattern>/admin_log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCode</servlet-name>
        <url-pattern>/checkCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIDCheck</servlet-name>
        <url-pattern>/userIDCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeServlet</servlet-name>
        <url-pattern>/codeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_user_delete</servlet-name>
        <url-pattern>/manage/do_user_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>to_user_update</servlet-name>
        <url-pattern>/manage/to_user_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Do_user_update</servlet-name>
        <url-pattern>/manage/do_user_update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Do_user_select</servlet-name>
        <url-pattern>/manage/do_user_select</url-pattern>
    </servlet-mapping>


</web-app>